$green_color: #78bc61;
$light-grey_color: #878a8d;
$grey_color: #121920;

$montserrat_regular: "Montserrat Regular";
$montserrat_bold: "Montserrat Bold";

$bebas_regular: "Bebas Neue Regular";

$raleway_regular: "Raleway Regular";
