@import "libs/bootstrap-reboot.min";
@import "libs/fonts.scss";

@import "base/general";

@import "base/variables";

@import "blocks/buttons";
@import "blocks/cookies";
@import "blocks/title";
@import "blocks/header";
@import "blocks/order";
@import "blocks/promo";
@import "blocks/benefits";
@import "blocks/testimonial";
@import "blocks/ingredients";
@import "blocks/facts";
@import "blocks/index";
@import "blocks/tabs";
@import "blocks/form";
@import "blocks/modal";
@import "blocks/footer";
