.benefits {
	min-height: 776px;
	padding: 100px 0;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		margin-top: 45px;
	}
	&__item {
		padding: 10px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 165px;
	}
	&__icon {
		width: 165px;
		height: 165px;
	}
	&__subtitle {
		margin-top: 42px;
		font-family: $bebas_regular;
		text-transform: uppercase;
		font-size: 24px;
		color: $grey_color;
	}
	&__descr {
		margin-top: 20px;
		font-family: $montserrat_regular;
		font-size: 13px;
		text-align: center;
		color: #41474d;
	}
}
