.facts {
	position: relative;
	min-height: 882px;
	background-color: #f0f6f4;
	padding: 100px 0;
	&__wrapper {
		display: flex;
	}
	&__left,
	&__right {
		margin-top: 80px;
	}
	&__right {
		margin-left: auto;
	}
	&__to-left {
		margin-left: 40px;
	}
	&__to-right {
		padding-right: 40px;
	}
	&__bg {
		position: absolute;
		top: 47%;
		right: 21.5%;
		transform: translateY(-50%);
		width: 572px;
		margin-top: 40px;
	}
	&__item {
		display: flex;
		align-items: center;
		width: 370px;
		margin-bottom: 40px;
	}
	&__about {
		&_left {
			text-align: right;
			margin-right: 25px;
		}
		&_right {
			text-align: left;
			margin-left: 25px;
		}
	}
	&__subtitle {
		font-family: "Montserrat Bold";
		font-size: 18px;
		font-weight: bold;
		color: $grey_color;
	}
	&__descr {
		font-size: 14px;
		color: #41474d;
	}
	&__link {
		position: relative;
		display: block;
		margin: 50px auto;
		text-align: center;
		width: 138px;
		font-family: "Montserrat Regular";
		font-size: 18px;
		color: $green_color;
		&:hover {
			color: $green_color;
		}
	}
}
