.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__icon {
		margin: 15px 0;
	}
	&__header {
		font-family: "Bebas Neue Regular";
		font-size: 60px;
		line-height: 60px;
		color: $grey_color;
		text-align: center;
		text-transform: uppercase;
		white-space: nowrap;
	}
	&__promo {
		color: #c4fffc;
	}
	&__subtitle {
		font-family: "Montserrat Regular";
		font-size: 16px;
		line-height: 1.5;
		text-align: center;
		color: #41474d;
	}
}
